html{
	background: #666 ;
}

body, nav li:hover > ul, nav li  a:focus + ul{
	background: #fff ;
}

form p.problem{
	font-weight: bolder ;
	color: #900 ;
}

.world-group .vcard .logo{
	background: #eee ;
	border-color: #ccc ;
}