html{
	background: #666 ;
}

body, nav li:hover > ul, nav li  a:focus + ul{
	background: #fff ;
}
nav li > ul{
	z-index: 1 ;
}

p.problem{
	font-weight: bolder ;
	color: #900 ;
}

section blockquote{
	background: #eee ;
	border-radius: .5em .5em .5em 0 ;
}

.vcard .logo, .vcard .photo{
	background: #eee ;
	border-color: #ccc ;
}

html.loginscreen{
	background: transparent ;
}
body.loginscreen footer#news li{
	background: #fff ;
}
body.loginscreen footer#news li:nth-child(2n){
	background: #eee ;
}

body.admin table > tbody{
	background: #ddd ;
}
body.admin table > thead, body.admin table > tbody > tr:nth-child(2n){
	background: #eee ;
}
