html{
	background: #666 ;
}

body, nav li:hover > ul, nav li  a:focus + ul{
	background: #fff ;
}

form p.problem{
	font-weight: bolder ;
	color: #900 ;
}

.vcard .logo, .vcard .photo{
	background: #eee ;
	border-color: #ccc ;
}

html.loginscreen{
	background: transparent ;
}
body.loginscreen footer#news li{
	background: #fff ;
}
body.loginscreen footer#news li:nth-child(1){
	background: #eee ;
}