html{
	width: 90% ;
	margin-top: 1em ;
	margin-bottom: 1em ;
	margin-left: auto ;
	margin-right: auto ;
}

body{
	font-family: sans-serif ;
	padding: 1em ;
	border-radius: .5em ;
}

header hgroup, header nav, #main-content > section, footer{
	border: 1px solid ;
	padding: .2em 1em .5em ;
	margin-bottom: 1em ;
	border-radius: .25em ;
}
header hgroup{
	font-weight: bolder ;
}

h1{
	font-size: 1.6em ;
}
h2{
	font-size: 1.5em ;
}
h3{
	font-size: 1.4em ;
}
h4{
	font-size: 1.25em;
}
h5{
	font-size: 1.2em ;
}
h6{
	font-size: 1.1em ;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6{
	margin-top: .5em ;
}

footer{
	margin-bottom: 0 ;
	padding-bottom: .25em ;
}

.grid-selector h1{
	display: inline ;
	font-size: 1em ;
}

form fieldset{
	padding-top: .5em ;
	margin-bottom: 1em ;
}
form.grid-selector fieldset, nav form.grid-selector fieldset{
	padding-top: 0 ;
	margin-bottom: 0 ;
}

form ol li label{
	display: block ;
	min-width: 10em ;
	vertical-align: text-top ;
	float: left ;
	clear: left ;
}
form ol li{
	clear: both ;
}

nav li{
	display: inline-block ;
	position: relative ;
	margin-left: .25em ;
}
nav li:first-child{
	margin-left: 0 ;
}
nav li > ul{
	display: none ;
}
nav li:hover > ul, nav li  a:focus + ul{
	display: block ;
	position: absolute ;
	top: 1em ;
	border: 1px solid ;
	border-top-width: 0 ;
	padding: .5em .25em .25em .5em ;
	text-align: left ;
}
nav li li{
	display: block ;
	margin-left: 0 ;
}
nav .grid-selector legend{
	display: none ;
}
nav .grid-selector fieldset, nav .grid-selector fieldset.buttons button{
	display: inline-block ;
}

th{
	font-weight: bolder ;
	padding: 0 .5em ;
}
table.regions-list tbody th{
	text-align: right ;
}
table.regions-list td{
	text-align: center ;
}

.world-group .vcard .logo{
	width: 126px ;
	height: 126px ;
	padding: .5em ;
	border: 1px solid ;
}
.world-group .vcard table{
	margin-top: .5em ;
}
.world-group .vcard th{
	text-align: right ;
}