html{
	width: 90% ;
	margin-top: 1em ;
	margin-bottom: 1em ;
	margin-left: auto ;
	margin-right: auto ;
}

body{
	font-family: sans-serif ;
	padding: 1em ;
	border-radius: .5em ;
}

header hgroup, header nav, #main-content > section, footer{
	border: 1px solid ;
	padding: .2em 1em .5em ;
	margin-bottom: 1em ;
	border-radius: .25em ;
}
header hgroup{
	font-weight: bolder ;
}

h1{
	font-size: 1.6em ;
}
h2{
	font-size: 1.5em ;
}
h3{
	font-size: 1.4em ;
}
h4{
	font-size: 1.25em;
}
h5{
	font-size: 1.2em ;
}
h6, fieldset > legend{
	font-size: 1.1em ;
}

details, details > summary{
	display: block ;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, fieldset > legend, h1 + form{
	margin-top: .5em ;
}

section{
	overflow: auto ;
}
section > section{
	font-size: .95em ;
}
section > h1:first-child{
	margin-top: .5em ;
}
section em{
	font-style: italic ;
}
section q{
	font-style: italic ;
	font-weight: bolder ;
}
section q:before, section blockquote:before{
	content: "“" ;
}
section q:after, section blockquote:after{
	content: "”" ;
}
section blockquote{
	position: relative ;
	margin: 1em 1em ;
	padding: 0.5em 1em ;
	display: inline-block ;
	clear: both ;
}
section blockquote:before{
	font-size: 4em ;
	position: absolute ;
	left: -0.25em ;
	top: -0.25em ;
}
section blockquote:after{
	font-size: 4em ;
	position: absolute ;
	right: -0.25em ;
	bottom: -0.75em ;
}

footer{
	margin-bottom: 0 ;
	padding-bottom: .25em ;
}

.grid-selector h1{
	display: inline ;
	font-size: 1em ;
}

form + form{
	margin-top: 1em ;
}
form fieldset{
	padding-top: .5em ;
	margin-bottom: 1em ;
}
form.grid-selector fieldset, nav form.grid-selector fieldset{
	padding-top: 0 ;
	margin-bottom: 0 ;
}

form ol li label, form ol li span:first-child{
	display: block ;
	min-width: 10em ;
	vertical-align: text-top ;
	float: left ;
	clear: left ;
}
form ol li{
	clear: both ;
}
form ol li span:first-child + span{
	margin-left: .5em ;
}

nav li{
	display: inline-block ;
	position: relative ;
	margin-left: .25em ;
	white-space: nowrap;
}
nav li:first-child{
	margin-left: 0 ;
}
nav li > ul{
	display: none ;
}
nav li:hover > ul, nav li  a:focus + ul{
	display: block ;
	position: absolute ;
	top: 1em ;
	border: 1px solid ;
	border-top-width: 0 ;
	padding: .5em .25em .25em .5em ;
	text-align: left ;
}
nav li li{
	display: block ;
	margin-left: 0 ;
}
nav .grid-selector legend{
	display: none ;
}
nav .grid-selector fieldset, nav .grid-selector fieldset.buttons button{
	display: inline-block ;
}

th{
	font-weight: bolder ;
	padding: 0 .5em ;
}
table.regions-list tbody th{
	text-align: right ;
}
table.regions-list td{
	text-align: center ;
}

.vcard .uuid, .hentry .uuid{
	display: none ;
}
.vcard .fn + .vevent{
	margin-bottom: .5em ;
}
.vcard .logo, .vcard .photo{
	width: 126px ;
	height: 126px ;
	padding: .5em ;
	border: 1px solid ;
}
body.world-user .vcard .logo, .vcard .photo{
	float: left ;
	margin-right: 1em ;
}

.world-group .vcard table{
	margin-top: .5em ;
}
.world-group .vcard th{
	text-align: right ;
}
.world-group-notices .hentry .org{
	display: none ;
}

.world-place-region .vcard .photo{
	width: 256px ;
	height: 256px ;
}
.world-place-parcel .vcard .photo{
	width: 272px ;
	height: 173px ;
}

.world-place .parcels nav{
	margin-bottom: 1em ;
}

html.loginscreen{
	margin: 0 ;
	height: 100% ;
	width: auto ;
}
body.loginscreen{
	position: relative ;
	height: 100% ;
	width: auto ;
	padding: 0 ;
	display: block ;
}

body.loginscreen header{
	display: none ;
}

body.loginscreen section#server-status{
	position: absolute ;
	top: 3em ;
	right: .5em ;
}
body.loginscreen section#server-status th{
	min-width: 10em ;
	text-align: left ;
}
body.loginscreen section#server-status td{
	text-align: right ;
}

body.loginscreen footer{
	display: none ;
}
body.loginscreen footer#news, body.loginscreen footer#copyright{
	display: block ;
}
body.loginscreen footer#copyright{
	position: absolute ;
	top: 1em ;
	right: 0 ;
}
body.loginscreen footer#news{
	position: absolute ;
	bottom: 0 ;
	width: 100% ;
	border-width: 0 ;
	padding: 0 ;
}
body.loginscreen footer#news ol{
	border:1px solid;
	padding: .5em ;
	margin: .25em ;
}
body.loginscreen footer#news li{
	position: relative ;
	padding: .5em ;
}
body.loginscreen footer#news abbr{
	position: absolute ;
	right: .5em ;
}

body.world-users form li{
	display: inline ;
}

body.admin table > thead > tr > th{
	text-align: left ;
}
body.admin-news table > thead > tr > th#news-manager-title, body.admin-abusereport table > thead > tr > th#abuse-report-summary{
	min-width: 10em ;
}
body.admin-news table > thead > tr > th#news-manager-action{
	text-align: center ;
}
body.admin-news table > tbody > tr > th[scope="row"][headers*=news-manager-title]{
	text-align: left ;
	font-weight: inherit ;
}
body.admin table > tbody > tr > *{
	padding-left: .5em ;
}
body.admin table > tbody > tr > *:first-child{
	padding-left: .25em ;
}

body.admin-news-edit form ol li label, body.admin-abusereport-review form ol li label{
	float: none ;
}
body.admin-news-edit form label, body.admin-news-edit form input, body.admin-news-edit form textarea, body.admin-abusereport-review form textarea{
	display: block ;
	width: 100% ;
}
body.admin-news-edit form textarea, body.admin-abusereport-review form textarea{
	min-height: 10em ;
}

body.admin-abusereport table > caption, body.admin-manageuser table > caption{
	text-align: left ;
	margin: .25em 0 ;
}

body.admin-abusereport-review table > tbody > tr > th[scope="row"], body.admin-manageuser table > tbody > tr > th[scope="row"]{
	text-align: right ;
}
